body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

h1 {
    color: #000000;
}

nav {
    background: #183d25;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav a {
    background: #196f37;
    color: #fff;
    font-size: 3rem;
    margin: 0 1rem;
    padding: 1rem 3rem;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.blog-post {
    background: #d5ffcd;
    margin: 1rem 1rem 2rem 1rem;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.blog-post h2 {
    margin-top: 0;
    color: #333;
}

.blog-post p {
    margin: 0.5rem 0;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

footer p {
    margin: 0;
}
